@keyframes loading {
  0% {
    background-color: var(--clr-manatee);
  }
  50% {
    background-color: var(--clr-mantle);
  }
  100% {
    background-color: var(--clr-manatee);
  }
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-poppins);
  background-color: var(--clr-shark);
  overflow-x: hidden;
}

.Loading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1;
}

/* error page styling */
.NotFound {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  flex: 1 1;
}
.NotFound > h1 {
  color: var(--clr-nomad);
  font-size: 80px !important;
  font-weight: 800;
  font-size: var(--font-play);
}
.NotFound p {
  color: aliceblue;
  font-size: 25px;
  font-weight: 500;
}
.NotFound .Redirect {
  width: 80%;
  max-width: 500px;
  margin-top: 40px;
  font-size: 16px;
  color: aliceblue;
}

.NotFound .Redirect .ProgressBar {
  height: 5px;
  margin-top: 20px;
  border-radius: 2.5px;
  background-color: var(--clr-nomad);
}

/* Button styling */
.Button {
  width: fit-content;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  color: var(--clr-nomad);
  user-select: none;
  cursor: pointer;
  transition: transform 0.15s, color 0.2s;
  font-family: var(--font-play);
  font-size: 18px;
  font-weight: 500;
}
.Button svg {
  transition: transform 0.2s;
}
.Button:hover {
  color: aliceblue;
}
.Button:active {
  transform: scale(0.925) !important;
}

/* NavBar styling */
.NavBar {
  margin-bottom: min(4.5vw, 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.NavBar .Button.Store {
  padding: 0;
  font-size: clamp(16px, 4.25vw, 24px);
}
.NavBar .Button.Store:hover {
  color: aliceblue;
}
.NavBar h2 {
  margin-inline: 6px;
  text-align: right;
  color: aliceblue;
  font-size: clamp(22px, 5vw, 55px);
  font-weight: 800;
}

/* BackgroundImage styling */
.BackgroundImage {
  height: 100% !important;
  background-size: cover;
  background-position: center;
}

.Wrapper > div:last-child:not(.BackgroundImage) {
  z-index: 0;
  animation: loading 1.25s infinite;
  pointer-events: none;
}
.Wrapper > div:last-child:not(.BackgroundImage)::before {
  content: none;
}

/* Header styling */
.heedroom {
  position: fixed !important;
  z-index: 2 !important;
  transition: 0.35s !important;
}

.Header {
  width: 100%;
  padding: 20px clamp(10px, 3vw, 50px);
  display: grid;
  grid-template-columns: 1fr 100fr 1fr;
  gap: 10px;
  background-color: var(--clr-manatee);
}
.Header .Logo {
  padding: 6px;
  font-size: 22px;
  font-weight: 600;
}

.SearchBar {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-self: center;
}

.SearchBar input {
  width: 100%;
  padding: 12px 16px;
  background-color: var(--clr-shark);
  color: aliceblue;
  border-radius: 10px;
  font-size: 14px;
  font-family: var(--font-play);
  transition: background-color 0.2s, color 0.2s;
}
.SearchBar input:focus {
  background-color: rgba(0, 0, 0, 0.55);
}

.Button.Cart {
  justify-self: flex-end;
}
.Button.Cart > div {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  color: var(--clr-shark);
  border-radius: 5px;
  transition: background-color 0.2s;
  font-size: 14px;
  font-weight: 600;
}

/* Cart Styling */
.Background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.55);
  filter: blur(10px);
}
.Background > div {
  height: 100%;
  width: 100%;
}

.CartModal {
  height: 100vh;
  width: 450px;
  max-width: 87vw;
  padding: 25px 20px;
  padding-right: 40px;
  position: fixed;
  top: 0;
  right: -20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--clr-shark);
}
.CartModal .CartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CartModal .CartHeader h3 {
  margin-left: 6px;
  color: aliceblue;
  font-size: 28px;
  font-weight: 800;
}
.CartModal .CartHeader .Button {
  padding-block: 4px;
}

.Items {
  margin-inline: -20px;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex: 1 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.Items .Item {
  padding: 14px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: var(--clr-manatee);
  color: aliceblue;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(185, 204, 255, 0.4);
  font-size: 14px;
  font-weight: 500;
  transition: transform 0.2s;
}
.Items .Item:hover {
  transform: scale(1.03) !important;
}
.Items .Item *:first-child {
  flex: 1 1;
}
.Items .Item .Button {
  padding: 0;
  font-size: 16px;
  justify-content: flex-start;
  text-align: left;
}
.Items .Item .Remove {
  padding: 5px;
  font-size: 18px;
  background-color: var(--clr-shark);
  border-radius: 100vmax;
}

.Checkout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  font-weight: 600;
  color: aliceblue;
}
.Checkout > div {
  display: flex;
  align-items: center;
}
.Checkout .Button {
  padding: 5px;
  font-size: 20px;
}

/* Home page styling */
.Home {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  margin-inline: calc(clamp(10px, 3vw, 50px) + 8px);
}
.Home .Grid {
  display: grid;
  grid-template-columns: 1fr max(25%, 125px);
  grid-template-rows: repeat(3, 1fr) min-content;
  gap: clamp(15px, 2.5vw, 25px);
  flex: 1 1;
  min-height: 400px;
  margin-block: 10px;
}
.Home .Grid .GameCard {
  font-family: var(--font-play);
  min-height: 125px;
  color: var(--clr-nomad);
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}
.Home .Grid .GameCard:first-child {
  grid-row: 1 / 5;
}
.Home .Grid .Big {
  color: white;
  font-size: 40px;
}
.Home .Grid .Big .Overlay h3 {
  font-size: clamp(20px, 5vw, 42px);
  font-weight: 600;
}
.Home .Grid .Overlay {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.95),
    rgba(0, 0, 0, 0.75) 15%,
    rgba(0, 0, 0, 0) 40%
  );
}
.Home .Grid .Overlay h3 {
  padding-block: calc(10px + 3%);
  padding-inline: calc(10px + 4%);
  font-size: 14px;
  transition: color 1.25s, font-size 1.25s;
}
.Home .Grid .Overlay .ProgressBar {
  height: 0.6%;
  background-color: var(--clr-manatee);
  border-radius: 5px;
}

.Home .Button.Store {
  justify-self: center;
  margin-left: 3%;
  font-size: clamp(20px, 2.35vw, 28px);
  font-weight: 600;
}

.Home .Button.Store:hover svg {
  transform: translateX(5px);
}

/* footer styles */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-block: 20px 30px;
}
footer a.Button {
  padding: 0;
  font-weight: 600;
}

/* media queries */
@media (max-width: 600px) {
  .Header {
    grid-template-columns: 100fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .Header .Logo {
    order: -2;
  }
  .Header .SearchBar {
    min-width: 100% !important;
    padding-inline: 8px;
    grid-column: 1 / 3;
  }
  .Button.Cart {
    order: -1;
  }
}

@media (max-width: 950px) {
  .Home .Grid {
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr max(25%, 125px) min-content;
  }
  .Home .Grid .GameCard:first-child {
    grid-column: 1 / 4;
  }
  .Home .Grid .Button.Store {
    grid-column: 1 / 4;
  }
}
